<html>
<body>
<p>Dear <%= @order.bill_address.firstname %>,</p>

<p>Thank you for your DidItBetter.com Software order.</p>

<p>Your payment has been processed.</p>

<p>Please retain the following information for your records.</p>

<p><strong>Billing address:</strong></p>
<p>
 <strong><%= @order.bill_address.full_name %></strong><br />
 <% if @order.bill_address.company != "" %>
   <%= @order.bill_address.company %><br />
 <% end %>
 <% if @order.bill_address.phone != "" %>
   <%= @order.bill_address.phone %><br />
 <% end %>
 <% if @order.email != "" %>
   <%= @order.email %><br />
 <% end %>
 <%= @order.bill_address.address1 %><br />
 <% if @order.bill_address.address2 != "" %>
   <%= @order.bill_address.address2 %><br />
 <% end %>
 <%= @order.bill_address.city %>
 <% if @order.bill_address.state %>
   , <%= @order.bill_address.state.abbr %>
 <% end %>
 <%= @order.bill_address.zipcode %>
 <% if @order.bill_address.country.iso3 != "USA" %>
    <%= @order.bill_address.country.iso3 %>
 <% end %>
</p>
<% if @order.ship_address.full_name != @order.bill_address.full_name %>
  <p><strong>End user address:</strong></p>
  <p>
    <strong><%= @order.ship_address.full_name %></strong><br />
    <% if @order.ship_address.company != "" %>
      <%= @order.ship_address.company %><br />
    <% end %>
    <% if @order.ship_address.phone != "" %>
      <%= @order.ship_address.phone %><br />
    <% end %>
    <%= @order.ship_address.address1 %><br />
    <% if @order.ship_address.address2 != "" %>
      <%= @order.ship_address.address2 %><br />
    <% end %>
    <%= @order.ship_address.city %>
    <% if @order.ship_address.state %>
      , <%= @order.ship_address.state.abbr %>
    <% end %>
    <%= @order.ship_address.zipcode %>
    <% if @order.ship_address.country.iso3 != "USA" %>
       <%= @order.ship_address.country.iso3 %>
    <% end %>
<% end %>
<hr/>
<h5>Order Summary</h5>
<hr/>
<pre>
  <% @order.line_items.each do |item| %>
    <%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) %> <%= render :partial => 'spree/shared/additional_line_item_fields', :locals=>{:item => item} %>
    (<%=item.quantity%>) @ <%= number_to_currency item.price %> = <%= number_to_currency(item.price * item.quantity) %>
  <% end %>
</pre>
<hr/>
<pre>
Subtotal: <%= number_to_currency @order.item_total %>
<% @order.adjustments.each do |adjustment| %>
  <%= raw(adjustment.label) %> <%= number_to_currency(adjustment.amount) %>
<% end %>
Order Total: <%= number_to_currency(@order.total) %>
</pre>
<p>We appreciate your business.  Note that "DidItBetter.com  Odessa, FL 813
977 5739" will appear on your credit card statement for this order.</p>

<p><strong>If your order included a software license:</strong></p>

<p>Download your software (or check for updates) at
<a href="http://support.diditbetter.com/downloads.aspx">http://support.diditbetter.com/downloads.aspx</a>.  If you don’t yet have
an account you will need to create one.</p>

<h5>Product Activation</h5>

<p>Once the software or update is installed, submit your registration
request from the program to request your license key.  Refer to the
instructions in your product’s installation guide.</p>

<p>License keys are issued Monday through Friday 10 am to 4 pm EST
(excluding holidays) within 1 to 2 business days from the time we
receive your completed registration request. Incomplete or incorrect
registration requests will delay the processing of your request.</p>

<p>Please note your software license is a perpetual license for the version
you initially purchased and is licensed to the license address you
specify in your registration request. If you are a reseller purchasing
on behalf of an end user, please make sure to include the end user's
company name, contact name of the individual authorizing the purchase at
the end user company, end user's phone and end user's email address.</p>

<h5>Remote Support</h5>

<p>If you’ve ordered remote support, Customer Care will contact you to
schedule your appointment.</p>

<p>Please review <em>Before Your Appointment</em> and <em>Initiating Your
Appointment</em> at <a href="http://support.diditbetter.com/remote-support.aspx" target="_blank">http://support.diditbetter.com/remote-support.aspx</a> in preparation.</p>

<p>If you purchased premium support session, please submit a support
request with your background information.  Go to
<a href="http://support.diditbetter.com/" target="_blank">http://support.diditbetter.com/</a> and select the
<em>Request Support</em> link.</p>

<h5>Free Self Help Resources</h5>

<p>Please visit and search our support site for product documentation and
guides, helpful How To technical articles, troubleshooting tips, forums,
and more useful support-related topics.</p>

<p>For email support if you have valid software assurance in place, please
open a ticket online.   If you placed a Premier Support order, please
also open a ticket online to provide our technical team detailed
background on your case and request to schedule a remote session.</p>

<h5>Terms and Conditions</h5>

<p>All sales are final. We offer no refunds and no returns once the product
license(s), software assurance subscription/renewals, add ons, service
agreements, and/or support is purchased. No cancellations.</p>

<p>The reason for this policy is you have the opportunity to fully evaluate
the product in advance to determine it to be suitable for your needs and
receive support on the solution via email before purchasing. Please note
that by placing your order and purchasing anything on our online store
and/or receiving your license key via email, you have chosen to accept
our 'No Return' policy and it is not possible to return the software
nor support services for a refund.</p>

<p>For assistance with your web order, please call us at (800) 837 8636.
For customers outside the USA, please call +1 813 977 5739.</p>

<p>With Regards,</p>

<p><strong>DidItBetter.com Software Online Store</strong>
A division of Advantage International Inc.</p>

<h5>Full Product Descriptions</h5>

<p>For your records, the following are the complete product descriptions
for your items:</p>
<pre>
<% for item in @order.line_items %>
<%=item.variant.sku %> <%=item.variant.product.name%>
----------
<%= item.variant.product.description %>

<% end %>
</pre>
<% if @order.bill_address.company != "" %>
<p><a href="http://redmine.diditbetter.com/search/index/paidsupport?q=<%= URI::encode_www_form_component @order.bill_address.company %>">For internal use</a></p>
<% end %>
</body>
</html>

